#tree-view-container{
    height: 40em;
    border: solid 1px gray;
    width: 80%;
    margin: auto;
}

#editor {
    border: solid 1px lightgray;
}

div.gutter.gutter-horizontal{
    float: left;
    background: lightgray;
    height: 100%;
}

div.gutter.gutter-vertical{
    background: lightgray;
    height: 14px;
}

.splited-item{
    float: left;
    height: inherit;
}

#root, #root>div{
    height: 20em;
}

#editor {
  width: 100em;
  height: 30em;
}